.showColorPicker {
    display: block;
}

.hideColorPicker {
    display: none;
}

@media screen and (max-width: 960px) {
    .borderBottom {
        display: block;
        border: 1px solid #ccc;
    }
}